<p style="color: green"><%= notice %></p>

<h1><%= MiningType.model_name.human(count: @mining_types.count) %></h1>

<div id="mining_types">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= @mining_types.human_attribute_name(:description) %></th>
        <th scope="col"><%= @mining_types.human_attribute_name(:acronym) %></th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <% @mining_types.each do |mining_type| %>
      <%= render mining_type %>
    <% end %>
  </table>
</div>

<%= link_to t("new.mining_type"), new_mining_type_path, class:"btn btn-primary" %>
